                                        "Shree Ganeshaye Namah"

# Day 2 
    500 Days of Data Analytics

## Strings

### Different ways we can store strings

In [2]:
# Storing String with the help of Double Quotes

stg = "Abhiyansh Dubey"
stg

'Abhiyansh Dubey'

In [3]:
# Storing String with the help of single quotes

stg = 'Abhiyansh Dubey'
stg

'Abhiyansh Dubey'

### How to store a string with single quotes and double quotes

We use single quotes to store string with double quotes and vice versa

In [5]:
sngl_qte = "Hello Ma'am"
sngl_qte

"Hello Ma'am"

In [6]:
dbl_qte = 'He Exclamined, "Great Idea!!"'
dbl_qte

'He Exclamined, "Great Idea!!"'

Alternate way to do the same is by using escape character

In [8]:
# Escape character "\" will make quote as a part of string instead of considering it having a special function

stg = "Who is the \"King of the Jungle\". It's Lion."
stg

'Who is the "King of the Jungle". It\'s Lion.'

### How to store multiple lines in a variable

In [13]:
# We use (''') three single quotes to store string with multiple lines

stg = '''Hon\'ble Prime Minister,
Union Of India'''

print(stg)

Hon'ble Prime Minister,
Union Of India

## Built-in Functions with String

Length Function

In [17]:
# This function will tell the length of the string.

stg = "Abhiyansh Dubey"

print(len(stg))

15

Extracting character from a string

In [18]:
# We use index of the character to extract the variable. Indexing start with firt character being the 0th Index.
# So now we are extracting the 7th character i.e., Index 6

print(stg[6])

n

In [25]:
# You can also do this by using negative indexing
# if you want to select last character in the string

print(stg[-1])

y

In [26]:
# similarly last third character can be extracted as follows

print(stg[-3])

b

Extracting all the characters in the string one by one

In [19]:
for i in stg:
    print(i)

A
b
h
i
y
a
n
s
h

D
u
b
e
y

In [20]:
# If you want to print all the charaters in the same line (Here i am using comma as separator)

for i in stg:
    print(i, end = ",")

A,b,h,i,y,a,n,s,h, ,D,u,b,e,y,

## Slicing

In [22]:
# You can also extract mulitple characters in a string at a time instead of one at a time

# Extracting first 5 characters

print(stg[0:5])

Abhiy

In [23]:
# Extracting 3rd to 7th character i.e., characters from index 2 to index 6

print(stg[2:7])

bhiyan

Above you can see in function, stated starting index is from where you start and ending index is the one after the last index.

In [30]:
# You can also print the strings by using negative indexing

print(stg[-7:-3])

h Du

In [31]:
# You also skip writing starting index if you want first 4 or first 5 characters from a string

# first 5 characters 

print(stg[:6])

Abhiya

In [32]:
# Similary one can skip ending index if needed to extract last few characters from the string

# last 5

print(stg[10:])

Dubey

## Methods in Strings
Some commonly used methods in Strings

### Converting string with all uppercase characters

In [33]:
stg = "Welcome to 500 Days of Data Analytics"

In [34]:
print(stg.upper())

WELCOME TO 500 DAYS OF DATA ANALYTICS

### Converting string with all lowercase characters

In [36]:
print(stg.lower())

welcome to 500 days of data analytics

In [38]:
print(stg.find("l"))

2

In [39]:
print(stg.index("l"))

2

### Splitting a string into a list of elements

In [41]:
print(stg.split(" "))

['Welcome', 'to', '500', 'Days', 'of', 'Data', 'Analytics']

### Splitting a string into a tuple of three elements

- Middle element will be the one which is given as argument.
- Left element will be the one which will be consisted of characters in the left of the middle element.
- Right element will be the one which will be consisted of characters in the right of the middle element.

In [43]:
print(stg.rpartition(" of "))

('Welcome to 500 Days', ' of ', 'Data Analytics')

### Replacing a set of characters from a String

In [44]:
print(stg.replace("Data Analytics", "Python Programming"))

Welcome to 500 Days of Python Programming

### Concatenation in Strings

In [49]:
a = "Hello"
b = "there"
c = "all"

stgg = a + " " + b + "," + " " + c + "!"
print(stgg)

Hello there, all!

We can also do the same, in a more organised way by using format method

In [51]:
# In format function we use place holder "{}" to define the position of the strings
# you want to concatenate,  in the final string 
# In the same order of concatenation we write respective strings.

stg1 = "{} {}, {}!".format(a,b,c)
print(stg1)

Hello there, all!