# Day 1 
    500 Days of Data Analytics

## Simple Maths Functions offered by Python

In [46]:
# Storing absolute value (positive value)

x = -7.5
print(abs(x))

7.5

In [47]:
import math
x = 10
print(math.exp(x))

22026.465794806718

In [48]:
math.e

2.718281828459045

In [49]:
math.pi

3.141592653589793

In [50]:
# Finding square root of a number

y = math.sqrt(100)
y

10.0

In [2]:
max(1, 46, 45, 56, 7)

56

In [4]:
min(1, 435, 23, 456, 0.2)

0.2

In [6]:
10/2

5.0

In [9]:
10//2

5

In [11]:
# with decimal

9/2

4.5

In [12]:
# without decimal

9//2

4

In [15]:
# Rermainder

19 % 5

4

In [17]:
# Power

10**2

100

In [19]:
9**2

81

In [22]:
5**3

125

## Coversions

In [24]:
x = "102"

type(x)

str

In [29]:
y = int(x)

In [31]:
print("Type of x ",type(x))
print("Type of y ",type(y))

Type of x  <class 'str'>
Type of y  <class 'int'>

## Dealing with Complex Numbers

In [36]:
# Dealing with Complex Numbers

#initializing a complex number
com = 2 + 3j

type(com)

complex

In [39]:
x = 32

type(x)

int

In [42]:
y = complex(x)
print(y)

(32+0j)

In [1]:
#alternate way of initialising complex number

com2 = complex(6,2)
com2

(6+2j)

## Lists

In [2]:
mixls = [[1,'a'], [22,'asd', "Strnggg"]]

In [4]:
mix = [1,'a', 121, "Arya", "97826"]

In [9]:
mix[::2]

[1, 121, '97826']

In [11]:
#Access element of list in reverse order.

mix[::-1]

['97826', 'Arya', 121, 'a', 1]

### Operations on Lists

In [15]:
# Creating a list using multiplication

z = [0]*100
print (z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
z1 = [1,2,3]*20
print(z1)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
# Concotination of lists

num = [1,2,3,45,354,324,234,23]
alp = ['a','b','c','d','e']

In [21]:
conc = num+alp
print(conc)

[1, 2, 3, 45, 354, 324, 234, 23, 'a', 'b', 'c', 'd', 'e']

In [35]:
# Unpacking of string
# means unpacking of each character in a string to form seperate elements of the list.


var = "Hello Love"
ls = list(var)

print("String: ", var, "\n")
print("Unpacked characters of the string in a list: " , "\n"*2, ls)

String:  Hello Love

Unpacked characters of the string in a list:

 ['H', 'e', 'l', 'l', 'o', ' ', 'L', 'o', 'v', 'e']

In [37]:
# How to pull out one element from a list 

num = [1,2,3,4,5,6,7,8]
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
x,y,z, *rest_of_the_list = num

In [44]:
print("List: ", num)
print("Pulled out Variables: ")
print(x)
print(y)
print(z)
print("Rest of the list: ", rest_of_the_list)

List:  [1, 2, 3, 4, 5, 6, 7, 8]
Pulled out Variables:
1
2
3
Rest of the list:  [4, 5, 6, 7, 8]

## Methods in Lists

In [61]:
num = [1, 2, 3, 4, 5, 6, 7, 8]
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [62]:
# Adding element in a list (at the end)

num.append(55)

In [63]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 55]

In [64]:
l1 = ["rod", "glass", "plas","ponder"]
l1

['rod', 'glass', 'plas', 'ponder']

In [65]:
# Adding multiple elements at the end

num.extend(l1)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 55, 'rod', 'glass', 'plas', 'ponder']

In [66]:
# Adding element in between of the list

num.insert(5, "Sectonomy")

In [67]:
print(num)

[1, 2, 3, 4, 5, 'Sectonomy', 6, 7, 8, 55, 'rod', 'glass', 'plas', 'ponder']

In [68]:
# Removing an element

num.remove(6)
num

[1, 2, 3, 4, 5, 'Sectonomy', 7, 8, 55, 'rod', 'glass', 'plas', 'ponder']

In [70]:
# Sorting a list

var1 = ['f','q','d','b','s']
var1

['f', 'q', 'd', 'b', 's']

In [71]:
var1.sort()

In [72]:
var1

['b', 'd', 'f', 'q', 's']

## Built-in functions with lists

In [73]:
x = [7,6,3,5,2,65,23,234,65]

In [74]:
len(x)

9

In [75]:
min(x)

2

In [76]:
max(x)

234

In [77]:
sum(x)

410

In [78]:
sum(x)/len(x)

45.55555555555556

## Creating Tuples

In [79]:
#Way 1
emp= ()

type(emp)

tuple

In [80]:
#Way 2
city = "Pune",

In [81]:
type(city)

tuple

In [116]:
#Way 3 (way 1 also by also giving values at the same time)

city2 = ("Pune",)
city2

('Pune',)

In [117]:
# Without using "," city1 will just be a string object

city1 = ("Pune")
type(city1)

str

In [87]:
city1 = ("Pune", "Bangalore", "Delhi")
city2 = "Pune","Bangalore","Delhi"

print(city1)
print(city2)

('Pune', 'Bangalore', 'Delhi')
('Pune', 'Bangalore', 'Delhi')

## Concatenation

In [88]:
num = 1,2,3,4,5

In [90]:
print(city1+num)

('Pune', 'Bangalore', 'Delhi', 1, 2, 3, 4, 5)

We cannot concatenate a list with a tuple

## Nesting

Nesting in tuples means storing tuples in another tuples.

In [93]:
city1

('Pune', 'Bangalore', 'Delhi')

In [94]:
num

(1, 2, 3, 4, 5)

In [97]:
# Storing above two tuples in another tuple

nest_tup = (city1,num)

In [98]:
nest_tup

(('Pune', 'Bangalore', 'Delhi'), (1, 2, 3, 4, 5))

In [100]:
# If you'll use "+" sign instead of "," (coma), values inside the tuple will store
# in the resultant tuple not the actual tuples.

nest_tup2 = (city1+num)
nest_tup2

('Pune', 'Bangalore', 'Delhi', 1, 2, 3, 4, 5)

## Repetition

In [108]:
repp = ("python",)*5
repp

('python', 'python', 'python', 'python', 'python')

In [113]:
# if you didn't use "," after python, variable will store a single string 
# with repetition of python. Variable becoming a string
# as follows

rep1 = ("Python")*5
print(rep1)
print(type(rep1))

PythonPythonPythonPythonPython
<class 'str'>

In [118]:
# if you dont want to store repeating python, just want to print it multiple times.

rep2 = ("Python", )

tuple

In [119]:
print(rep2*6)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python')

# Slicing in Tuples

In [17]:
num = 1,2,3,4,5,6,3,4,4

In [18]:
num

(1, 2, 3, 4, 5, 6, 3, 4, 4)

In [19]:
type(num)

tuple

In [20]:
# Slicing

num[2:]

(3, 4, 5, 6, 3, 4, 4)

In [21]:
num[::-1]

(4, 4, 3, 6, 5, 4, 3, 2, 1)

## Unpacking in Tuples

In [22]:
# 001

# Unpacking a string with the help of tuples
# which means storing each character of a string as seperate elements in tuple

tuple("Divyansh")

('D', 'i', 'v', 'y', 'a', 'n', 's', 'h')

In [23]:
#002

num = 1,2,3,4
print(num)

(1, 2, 3, 4)

In [24]:
#unpacking a tuple

a,b,c,d = num

In [25]:
print(a,b,c,d)

1 2 3 4

In [26]:
a,b,*c = num

In [27]:
print(a,b,c)

1 2 [3, 4]

In [28]:
a,*b,c = num
print(a,b,c)

1 [2, 3] 4

## Deleting a tuple

In [29]:
num = 1,2,3,3

In [30]:
num

(1, 2, 3, 3)

In [31]:
print(num)

(1, 2, 3, 3)

In [32]:
del num

In [33]:
print(num)

NameError: name 'num' is not defined

## Built-in Functions

In [38]:
num1 = 1,2,3,4,4,4,4,2,4,21,342,12

In [39]:
num1

(1, 2, 3, 4, 4, 4, 4, 2, 4, 21, 342, 12)

In [40]:
num1.count(4)

5

In [41]:
sum(num1)

403

In [43]:
min(num1)

1

In [44]:
max(num1)

342

In [45]:
len(num1)

12

## Converting list and tuple into each other

In [46]:
lst = [1,2,3,4,2,21,12]

In [47]:
print(lst)

[1, 2, 3, 4, 2, 21, 12]

In [50]:
# Converting list to tuple

tpl = tuple(lst)

In [51]:
tpl

(1, 2, 3, 4, 2, 21, 12)

In [52]:
#converting a list to tuple

lst1 = list(tpl)

In [53]:
lst1

[1, 2, 3, 4, 2, 21, 12]

## Nesting tuples in a list

In [55]:
nlst = [(1,2,3),('a','b','c')]

In [56]:
nlst

[(1, 2, 3), ('a', 'b', 'c')]

In [58]:
nlst.append(("Bag","Cat","Dog"))

In [59]:
nlst

[(1, 2, 3), ('a', 'b', 'c'), ('Bag', 'Cat', 'Dog')]

In [60]:
nlst.remove((1,2,3))

In [61]:
nlst

[('a', 'b', 'c'), ('Bag', 'Cat', 'Dog')]

## Nesting lists within tuple

In [2]:
ntpl = (['a','b','c'],[1,2,3])

In [3]:
ntpl

(['a', 'b', 'c'], [1, 2, 3])

In [4]:
# We cannot make changes in a tuple.
# But we can make changes in the element lists

ntpl[1].append(1)

In [5]:
ntpl

(['a', 'b', 'c'], [1, 2, 3, 1])

In [6]:
ntpl[1].remove(1)

ntpl

(['a', 'b', 'c'], [2, 3, 1])

In [7]:
# Slicing in Tuples
num = 1,2,3,4,5,6,3,4,4

In [8]:
num
type(num)

tuple

In [9]:
# Slicing

num[2:]

(3, 4, 5, 6, 3, 4, 4)

In [10]:
num[::-1]

(4, 4, 3, 6, 5, 4, 3, 2, 1)

## Unpacking in Tuples

In [11]:


# 001

# Unpacking a string with the help of tuples
# which means storing each character of a string as seperate elements in tuple

tuple("Divyansh")

('D', 'i', 'v', 'y', 'a', 'n', 's', 'h')

In [12]:
#002

num = 1,2,3,4
print(num)

(1, 2, 3, 4)

In [13]:
#unpacking a tuple

a,b,c,d = num

print(a,b,c,d)

1 2 3 4

In [14]:
a,b,*c = num

print(a,b,c)

1 2 [3, 4]

In [15]:
a,*b,c = num
print(a,b,c)

1 [2, 3] 4

In [16]:
## Deleting a tuple

num = 1,2,3,3

num

print(num)

(1, 2, 3, 3)

In [17]:
del num

In [18]:
print(num)

NameError: name 'num' is not defined

## Built-in Functions

In [19]:


num1 = 1,2,3,4,4,4,4,2,4,21,342,12

num1

(1, 2, 3, 4, 4, 4, 4, 2, 4, 21, 342, 12)

In [20]:
num1.count(4)

5

In [21]:
sum(num1)

403

In [22]:

min(num1)

1

In [23]:
max(num1)

342

In [24]:
len(num1)

12

## Converting list and tuple into each other

In [25]:
lst = [1,2,3,4,2,21,12]
print(lst)

[1, 2, 3, 4, 2, 21, 12]

In [26]:
# Converting list to tuple

tpl = tuple(lst)

tpl

(1, 2, 3, 4, 2, 21, 12)

In [27]:
#converting a list to tuple

lst1 = list(tpl)

lst1

[1, 2, 3, 4, 2, 21, 12]

## Nesting tuples in a list

In [28]:


nlst = [(1,2,3),('a','b','c')]

nlst

[(1, 2, 3), ('a', 'b', 'c')]

In [29]:

nlst.append(("Bag","Cat","Dog"))

In [30]:
nlst

[(1, 2, 3), ('a', 'b', 'c'), ('Bag', 'Cat', 'Dog')]

In [31]:
nlst.remove((1,2,3))

nlst

[('a', 'b', 'c'), ('Bag', 'Cat', 'Dog')]

## Nesting lists within tuple

In [32]:


ntpl = (['a','b','c'],[1,2,3])

ntpl

(['a', 'b', 'c'], [1, 2, 3])

In [33]:
# We cannot make changes in a tuple.
# But we can make changes in the element lists

ntpl[1].append(1)

ntpl

(['a', 'b', 'c'], [1, 2, 3, 1])

In [34]:
ntpl[1].remove(1)

ntpl

(['a', 'b', 'c'], [2, 3, 1])